

/*=======================================
Phones and larger
=====================================*/

@media screen and (min-width: 727px) {
	body {
		background-color: green;
	}
	#topArea {
	  margin: 0 0;
	  margin-right: 7%;
	  max-width: 200px;
	  background-color: black;
	  float: right;
	  padding: 0;
	  margin-top: 20px;
	}
	.iconStyle {
	  width: 25%;
	}
	#iconLeft {
	}
	#iconRight {
	  float: right;
	}


}


/*=======================================
Phones and larger
=====================================*/

@media screen and (min-width: 845px) {
   body {
   	background-color: grey;
   }
  #topArea {
	  margin: 0 0;
	  margin-right: 10%;
	  max-width: 200px;
	  background-color: black;
	  float: right;
	  padding: 0;
	  margin-top: 20px;
	  margin-right: 150px;
  }


}
/*=======================================
Tablets / Desktop
=====================================*/
/*=========Background colors for testing==============*/
@media screen and (min-width: 1191px) {
  body{
  	background-color: white;
  }
  #topArea {
	  margin: 0 0;
	  margin-right: 7%;
	  max-width: 400px;
	  background-color: black;
	  float: right;
	  padding: 0;
	  margin-top: 20px;
	  margin-right: 150px;
  }
	.iconStyle {
		width: 50px;
	}
	#iconLeft {
		margin-right: 200px;
	}
	#iconRight {
		float: right;
	}
	  
	.boardContainer {
		background-color: black;
		width: 90%;
	  max-width: 425px;
		margin-left: 300px;
	  display: inline-block;
	}
	#scoreText {
	  background-color: white;
	  text-align: center;
	  margin: 0 0;
	  margin-left: 300px;
	  max-width: 425px;
	  position: relative;
	}


}
