body{
	background-color: salmon;

}

/*===============================
BORDER BOX SETUP
=================================*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*===============================
TOP AREA
=================================*/
#topArea {
  padding: 5%;
  margin: 0 5%;
  max-width: 425px;
  background-color: black;
  display: inline-block;
}

.iconStyle {
	width: 20%;
}
#iconLeft {

}
#iconRight {
	float: right;
}


/*===============================
CONTAINER
=================================*/
#container {
  background-color: pink;
  /*clear: both;*/
}

.boardContainer {
	background-color: black;
	width: 90%;
  max-width: 425px;
	margin-left: 5%;
  display: inline-block;
}

/*===============================
Box Class
=================================*/

.box {
	background-color: green;
	width: 33.333%;
	height: 33.333%;
}

/*===============================
Box Ids
=================================*/

#box1 {
  background-color: red;
  float: left;
  padding: 15%;
}
#box2 {
  background-color: white;
	float: left;
  padding: 15%;
}
#box3 {
	background-color: blue;
	float: left;
  padding: 15%;
}
#box4 {
  background-color: wheat;
  float: left;
  padding: 15%;
}
#box5 {
  background-color: orange;
	float: left;
  padding: 15%;
}
#box6 {
	background-color: yellow;
	float: left;
  padding: 15%;
}
#box7 {
  background-color: grey;
  float: left;
  padding: 15%;
}
#box8 {
  background-color: darkred;
	float: left;
  padding: 15%;
}
#box9 {
	background-color: coral;
	float: left;
  padding: 15%;
}



/*===============================
Bottom Counter Area
=================================*/




#bottomContainer {
  background-color: darkred;
  max-width: 425px;
  width: 406px;
}

#scoreText {
  background-color: white;
  text-align: center;
  margin: 0 5%;
  max-width: 425px;
  position: relative;
}

#scoreContainer {
  background-color: blue;
  
}

#scoreLeft {
  background-color: green;
  font-size: 2em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15%;
  float: left;
}
#scoreRight {
  background-color: dodgerblue;
  font-size: 2em;
  text-align: right;
  margin-right: 15%;
  margin-top: 0;
  margin-bottom: 0px;
}
h1 {
  text-align: center;
  background-color: white;
}

footer {
  background-color: blue
}



