



/*===============================
BORDER BOX SETUP
=================================*/

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }




/*===============================
 Pics
=================================*/
#iconArea {
  /*background-color: black;*/
  width: 90%;
  max-width: 425px;
  margin-left: 5%;
  /*display: inline-block;*/
}
.icons {
  width: 25%
}
#icon1 {

}
#icon2 {
 margin-left: 48%
}



/*===============================
 TTT CONTAINER
=================================*/

#boardArea{
	/*background-color: black;*/
	width: 90%;
  max-width: 425px;
	margin-left: 5%;
  display: inline-block;
  }



/*===============================
Box Class
=================================*/

.box {
	/*background-color: green;*/
	width: 120px;
	height: 120px;
  }



/*===============================
Box Ids
=================================*/

#box0 {
  background-color: wheat;
  float: left;
  padding: 15%;
  }
#box1 {
  background-color: darkred;
	float: left;
  padding: 15%;
  }
#box2 {
	background-color: wheat;
	float: left;
  padding: 15%;
  }
#box3 {
  background-color: darkred;
  float: left;
  padding: 15%;
  }
#box4 {
  background-color: wheat;
	float: left;
  padding: 15%;
  }
#box5 {
	background-color: darkred;
	float: left;
  padding: 15%;
  }
#box6 {
  background-color: wheat;
  float: left;
  padding: 15%;
  }
#box7 {
  background-color: darkred;
	float: left;
  padding: 15%;
  }
#box8 {
	background-color: wheat;
	float: left;
  padding: 15%;
  }



/*===============================
Score Area
=================================*/

#scoreArea {
  /*background-color: black;*/
  width: 90%;
  max-width: 425px;
  margin-left: 5%;
  display: inline-block;
  /*background-color: blue;*/
  text-align: center;
}

/*===============================
Score Area Count
=================================*/
#scoreCount {
/*background-color: black;*/
  width: 90%;
  max-width: 425px;
  margin-left: 5%;
  display: inline-block;
  /*background-color: darkblue;*/
}

#scoreLeft {
 /*background-color: white;*/
 width: 45%;
 float: left;
 padding-left: 50px;
}
#scoreRight {
/*background-color: white;*/
 width: 45%;
 float: left;
 text-align: right;
}

#bottomArea {
  /*background-color: black;*/
  width: 90%;
  max-width: 425px;
  margin-left: 5%;
  /*display: inline-block;*/
}

