body {
	background-color: coral;
}
#container {
	margin: 0 auto;
	width: 100%;
}
#leftSide {

}
#RightSide {
	
}

.icons {
  max-width: 35%
}
#icon1 {

}
#icon2 {
	margin-left: 28%;
}


#box1 {
 background-color: blue;
 border: 1px solid grey;
 /*width: 50%;*/	
 /*height: 50%*/
}
#box2 {
 background-color: blue;
 border: 1px solid grey;
 /*width: 50%;*/
/* height: 50%*/
}
#box3 {
 background-color: blue;
 border: 1px solid grey;
 /*width: 50%;*/
/* height: 50%*/
}
#box4 {
 background-color: blue;
 border: 1px solid grey;
 /*width: 50%;*/
 /*height: 50%*/
}





#box2 {
	background-color: black;
	width: 90%;
  max-width: 490px;
  height: 410px;
	margin-left: 5%;
  display: inline-block;
  }



/*===============================
Box Class
=================================*/

.box {
	background-color: green;
	width: 33.333%;
	height: 33.333%;
  }



/*===============================
Box Ids
=================================*/

#tile1 {
  background-color: red;
  float: left;
  /*padding: 15%;*/
  }
#tile2 {
  background-color: white;
	float: left;
  /*padding: 15%;*/
  }
#tile3 {
	background-color: blue;
	float: left;
  /*padding: 15%;*/
  }
#tile4 {
  background-color: wheat;
  float: left;
  /*padding: 15%;*/
  }
#tile5 {
  background-color: orange;
	float: left;
  /*padding: 15%;*/
  }
#tile6 {
	background-color: yellow;
	float: left;
  /*padding: 15%;*/
  }
#tile7 {
  background-color: grey;
  float: left;
  /*padding: 15%;*/
  }
#tile8 {
  background-color: darkred;
	float: left;
  /*padding: 15%;*/
  }
#tile9 {
	background-color: coral;
	float: left;
  /*padding: 15%;*/
  }
